body {
    background-color: #a5173a;
    color: rgb(2, 2, 2) ;
    text-align: center;
    font-family: Verdana;

}
h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
}
p {
    font-size: 18px;
}
.texto-inglês {
    font-style: italic;
}
#nome-usuario {
    font-weight: bold;
}
@media screen and (max-width:420px){
    img{
        width: 100%;
    }
    p{
        font-size: 24px;
    }
}



